<p> Derp</p>
<h1>Todo <%= params[:id]%></h1>
    <p>9 x 12 = <%= 9*13 %></p>
        <p><%= @todo[:name] %></p>
            <p><%= @todo[:description] %></p>
                <p><%= @todo[:duration] %></p>